{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
我的博客|{{ page_title }}
{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block content %}
      <div class="container">
          <div class="row">
              <div class="col-xs-4 col-xs-offset-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel title">{{ form_title }}</h3>
                      </div>
                  <div class="panel-body">
                      <form action="" method="post">
                      {% csrf_token %}
                      {% for field in form %}
                      <label for="{{ field.id_for_label }} " style="font-weight: bold">{{ field.label }}</label>
                      {{ field }}
                      <p class="text-danger">
                      {{ field.errors.as_text }}
                      </p>
                      {% endfor %}
                  <span id="error_tip" class="pull-left text-danger">
                      {{ login_form.non_field_errors }}
                  </span>
                      <div class="clearfix"></div>
                      <div class="pull-left">
                          {% block other_submit %}
                          {% endblock %}
                      </div>
                      <div class="pull-right">
                          <input type="submit" value="{{ sub_text }}" class="btn btn-primary ">
                          <butten class="btn btn-default" onclick="window.location.href='{{ return_to_url }}'">返回</butten>
                      </div>

                  </form>
                  </div>
                  </div>
              </div>
          </div>
      </div>
{% endblock %}